
<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
        <div class="card-body">

          <input type="text"
            class="form-control"
            placeholder="Buscar usuario"
            (keyup)="buscar( txtTermino.value )"
            #txtTermino
          >

        </div>
      </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p>Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Usuarios ( {{ totalUsuarios }} ) - {{ current_page }}</h4>
            <h6 class="card-subtitle">Lista de usuarios registrados en mi aplicación</h6>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="tw-75 text-center">Avatar</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th class="tw-100">Role</th>
                            <th class="tw-100">Auth</th>
                            <th class="text-nowrap tw-100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="text-center">
                              <img src="{{ usuario.imagenUrl }}" alt="Avatar" class="avatar">
                            </td>
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.role }}</td>
                            <td>
                              <span *ngIf="usuario.google" class="label label-danger">Google</span>
                              <span *ngIf="!usuario.google"class="label label-info">Email</span>
                            </td>
                            <td class="text-nowrap text-center">
                                <a href="#" data-toggle="tooltip" data-original-title="Editar" class="m-r-10"> <i class="fa fa-pencil text-inverse"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="cambiarPagina(-1)"  class="btn btn-secondary m-r-10">Anterior</button>
            <button (click)="cambiarPagina(1)"  class="btn btn-secondary">Siguiente</button>
        </div>
    </div>
</div>
</div>
