<div class="row">

  <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medico</h4>
            <h6 class="card-subtitle">Actualizar Información</h6>

            <form class="form p-t-20" [formGroup]="doctorForm" (submit)="guardarDoctor()">

                <div class="form-group" *ngIf="doctorSeleccionado">
                  <div class="input-group">
                      <img [src]="doctorSeleccionado.img | imagen: 'doctors'"
                            alt="doctor"
                            class="tw-120"
                            >
                  </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputuname">Nombre</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" class="form-control" id="exampleInputuname"
                              placeholder="Nombre del medico"
                              formControlName="name"
                            >
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hospital</label>
                    <div class="input-group">
                        <select class="form-control"
                            formControlName="hospital"
                        >
                          <option value="">Seleccione Hospital</option>
                          <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{ hospital.name }}</option>
                        </select>
                    </div>
                </div>

                <button type="submit"
                        class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="doctorForm.invalid"
                      >
                  <i class="fa fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-inverse waves-effect waves-light">Cancel</button>
            </form>
        </div>
    </div>
  </div>

  <div class="col-sm-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hospital</h4>
            <h6 class="card-subtitle">{{ hospitalSeleccionado.name }}</h6>

            <form class="form p-t-20">
                <div class="form-group">
                  <div class="input-group">
                      <img [src]="hospitalSeleccionado.img | imagen:'hospitals'"
                            alt="medic"
                            class="img-thumbnail"
                            >
                  </div>
                </div>

            </form>
        </div>
    </div>
  </div>

</div>
