/* You can add global styles to this file, and also import other style files */
.fast{
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector , .cursor{
 cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.img-avatar{
  width: 150px;
  height: 150px;
}
